@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

html {
    font-size: 10px;
    background-image: 
        linear-gradient(
            #ecf4cc, 
            90%,
            #B2CA44
        );
    min-height: 100vh;
}

body {
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    font-size: 2em;
}

main {
    padding: 1em;
    max-width: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 15px 30px rgba(99, 99, 99, 0.11);
}

header {
    line-height: .1;
}

header img {
    width: 100px;
}

section.message {
    font-size: .9em;
}

section.button {
    margin: 0 auto;
    padding: .1em;
    max-width: 400px;
}

section.button a {
    font-size: .8em;
    padding: .6em;
    background-color: #a8bf41;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section.button a:hover {
    padding: 1em;
    background-color: #B2CA44;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* section.button .view {
    border: 3px solid #a8bf41;
} */

section.button p span.note {
    display: block;
    font-size: .8em;
    padding: 1em;
}

/* Media Queries */
@media screen and (max-width: 700px) {
    main {
        max-width: 100%;
    }
    section.button a {
        font-size: .8em;
    }
  }
